body * {
    
}

#nav-section img {
    height: 50px;
}
#nav-section {
    background-color:  #49adb5!important;
}

#card-section .card {
    margin: auto;
}

#card-section .col {
   
}


footer {
    background-color:  #49adb5 ;
    padding: 30px ;
}