body *  {
   margin: 0%;
   padding: 0%;   
}
#nav-section img {
    height: 50px;
}
#nav-section {
    background-color:  #49adb5!important;
}
#carousel-section {
    background-color: #000;
}
#about-section {
    background-color: #000;
    margin: auto;
}
#about-container{
margin-top: 30px;
}
.about {
    background-color: #49adb5;
    size: 20rem;
    margin-top: 20px;
}
#card-section .card {
    margin: auto;
    height: 25rem;;
}
#card-section {
   background-color: #000;
}
.card-body {
    background-color:  #49adb5!important;
}
#form-section {
    background-color: #000; 
}
#button-color{
    background-color: #49adb5;
}

footer {
    background-color:  #49adb5 ;
    padding: 30px ;
}
a {
    color: #fff;
}
 