body *  {

    margin: 0%;
    padding: 0%;
   
}

#nav-section img {
    height: 50px;
}
#nav-section {
    background-color:  #49adb5!important;
}
#carousel-section {
    background-color: #000;
}

#about-section {
    background-color: #000;
}
.about {
    background-color: #49adb5;
}

#card-section .card {
    margin: auto;
}

#card-section {
   background-color: #000;
}
.card-body {
    background-color:  #49adb5!important;
}
#form-section {
    background-color: #000;
}

footer {
    background-color:  #49adb5 ;
    padding: 30px ;
}